<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Smart fridge</title>
  <meta name="description" content="This is my HTML5 boilerplate.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="msapplication-TileColor" content="#FFBD00">
  <meta name="theme-color" content="#FFBD00">

  <link rel="apple-touch-icon" sizes="180x180" href="../static/img/jpg/LOGO.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/jpg/LOGO.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/img/jpg/LOGO.png">
  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="../static/img/jpg/LOGO.png" color="#FFBD00">

  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/screen.css">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      toggleNav();
    })

    function toggleNav() {
      let toggleTrigger = document.querySelectorAll(".js-toggle-nav");
      for (let i = 0; i < toggleTrigger.length; i++) {
        toggleTrigger[i].addEventListener("click", function() {
          console.log("ei");
          document.querySelector("body").classList.toggle("has-mobile-nav");
        })
      }
    }
  </script>
</head>

<body>
  <div class="c-page">
    <header class="o-row o-row--md o-row--header">
      <div class="o-container">
        <div class="c-header">
          <div class="c-header__logo">
            <h1 class="c-logo">

                                <img class="c-logo__symbol" src="../static/img/jpg/LOGO.png" viewBox="0 0 130 40">
                            </h1>
          </div>
          <div class="c-header__nav c-header__nav--main">
            <nav class="c-nav">
              <ul class="o-list c-nav__list">
                <li class="c-nav__item"><a href="#!" class="c-nav__link">Technology</a></li>
                <li class="c-nav__item"><a href="#!" class="c-nav__link">Company</a></li>
                <li class="c-nav__item"><a href="#!" class="c-nav__link c-nav__link-button">LOG IN</a></li>
              </ul>
            </nav>
          </div>
          <div class="c-header__nav">
            <nav class="c-nav c-nav--meta">
              <ul class="o-list c-nav__list">
                <li class="c-nav__item"><a href="#!" class="c-nav__link c-nav__link--meta">Careers</a></li>
                <li class="c-nav__item"><a href="#!" class="c-nav__link c-nav__link--meta">Blog</a></li>
                <li class="c-nav__item"><a href="#!" class="c-nav__link c-nav__link--meta">About</a></li>
              </ul>
            </nav>
          </div>
          <div class="c-header__mobile-nav-trigger">
            <button class="o-button-reset c-nav-trigger js-toggle-nav">
                                <svg class="c-nav-trigger__svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
                                </svg>
                            </button>
          </div>
        </div>
      </div>
    </header>

    <section class="o-row o-row--lg o-row--background-oker">
      <div class="o-container">

        <article class="o-section o-section--lg">
          <div class="o-layout o-layout--gutter-lg o-layout--align-center">

            <div class="o-layout__item u-1-of-2-bp3">
              <div class="o-layout--login">
                <input type="text" class="textbox textbox-username" name="username" placeholder="Username..."></br>
                <input type="text" class="textbox textbox-password" name="password" placeholder="Password...">
                <button class="loginbutton">LOG IN</button>
              </div>
            </div>

            <div class="o-layout__item u-1-of-2-bp3">
              <div class="o-layout--login">
                <h2 class="c-lead c-lead--xxl">
                            Scan your badge
                        </h2>


              </div>
            </div>
          </div>
        </article>

      </div>
    </section>


    <footer class="o-row o-row--md">
      <div class="o-container">
        <div class="c-footer">
          <div class="c-footer__logo o-layout--justify-center">
            <p class="c-logo">
              <img class="c-logo__symbol" src="../static/img/jpg/LOGO.png" viewBox="0 0 130 40">
            </p>
          </div>
          <div class="c-footer__nav">
            <nav class="c-nav c-nav--meta">
              <ul class="o-list c-nav__list">
                <li class="c-nav__item"><a href="#!" class="c-nav__link c-nav__link--meta">Portfolio</a></li>
              </ul>
            </nav>
          </div>
          <div class="c-footer__nav">
            <nav class="c-nav c-nav--meta">
              <ul class="o-list c-nav__list">
                <li class="c-nav__item"><a href="#!" class="c-nav__link c-nav__link--meta">LinkedIn</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </footer>
  </div>



  <aside class="c-mobile-nav">
    <div class="c-mobile-nav__bg"></div>
    <div class="c-mobile-nav__body">
      <div class="c-mobile-nav__header">
        <p></p>
        <button class="o-button-reset c-nav-trigger js-toggle-nav">
                        <svg class="c-nav-trigger__svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                        </svg>
                    </button>
      </div>
      <div class="c-mobile-nav__nav c-mobile-nav__nav--main">
        <nav class="c-nav">
          <ul class="o-list c-nav__list">
            <li class="c-nav__item"><a href="#!" class="c-nav__link">Nav1</a></li>
            <li class="c-nav__item"><a href="#!" class="c-nav__link">Nav2</a></li>
            <li class="c-nav__item"><a href="#!" class="c-nav__link">Nav3</a></li>
          </ul>
        </nav>
      </div>
      <div class="c-mobile-nav__nav">
        <nav class="c-nav c-nav--meta">
          <ul class="o-list c-nav__list">
            <li class="c-nav__item"><a href="#!" class="c-nav__link c-nav__link--meta">© ­2018 Nicolas Stragier</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </aside>
</body>

</html>