<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Smart fridge</title>
  <meta name="description" content="This is my HTML5 boilerplate.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="msapplication-TileColor" content="#FFBD00">
  <meta name="theme-color" content="#FFBD00">

  <link rel="apple-touch-icon" sizes="180x180" href="../static/img/jpg/LOGO.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/jpg/LOGO.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/img/jpg/LOGO.png">
  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="../static/img/jpg/LOGO.png" color="#FFBD00">

  <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/normalize.css">
  <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/screen.css">

</head>

<body>
  <div class="c-page">
    <header class="o-row o-row--md o-row--header">
      <div class="o-container o-layout--align-center">
        <div class="c-header ">
          <div class="c-header__logo ">
            <h1 class="c-logo ">

                                <img class="c-logo__symbol" src="../static/img/jpg/LOGO.png" viewBox="0 0 130 40">
                            </h1>
          </div>





        </div>
      </div>
    </header>

    <section class="o-row o-row--lg o-row--background-oker">
      <div class="o-container">
        <article class="o-section o-section--lg">
          <div class="o-layout o-layout--gutter-lg o-layout--align-center">
            <div class="o-layout__item u-1-of-2-bp3">
              <header class="c-title-icon">
                <img src="../static/img/svg/biertje.svg" alt="Beer bottle" class="c-title-icon__icon">
                <h2 class="c-lead c-lead--xxl">
                                        Scan, Choose, <br>
                                        Drink
                                    </h2>
              </header>
              <p class="c-lead c-lead--lg">
                Smart fridge with badge security! For all offices and pubs.

              </p>

            </div>
            <div class="o-layout__item u-1-of-2-bp3">
              <div class="o-layout--login">
                <input type="text" class="textbox textbox-username" id="username" name="username" placeholder="Username..." required></br>
                <input type="password" class="textbox textbox-password" id="password" name="password" placeholder="Password..." required>
                <button id="inloggen" onclick="bereken()" class="loginbutton">LOGIN</button>

                <p>{{users}}</p>
                <p>{{passes}}</p>
                <p>{{lengte}}</p>
                <p id="Uitkomst"></p>
              </div>

              <script>

                function bereken() {
                    var username = document.getElementById('username').value;
                    var password = document.getElementById('password').value;
                    var index = 0;
                    var max = {{lengte[0]}};
                    max -= 1;
                    document.getElementById('Uitkomst').innerHTML = "Waarde: " + {{users[0]|safe}} + " | " + index + " " + max;


                    if (username == "Admin Admin" && password == "705861867776")
                    {
                          document.cookie = 'login = True';
                          //window.location = 'http://127.0.0.1:5000/welkom';
                          window.location.href = '/welkomadmin'; //http://127.0.0.1:5000/welkom
                    }
                    if (username == String({{users[0]|safe}}) && password == String({{passes[0]|safe}}))
                    {
                        document.cookie = 'login = True';
                        document.cookie = 'user = ' + username;
                        window.location.href = '/welkom';
                    }
                    else
                    {
                        document.getElementById('Uitkomst').innerHTML = "Username or password not found";
                        document.getElementById("username").value = "";
                        document.getElementById("password").value = "";
                        document.cookie = "login = False";
                    }


                }
              </script>

              <div class="o-layout--or o-layout--justify-center">
                <p>OR</p>
                </div>
              <p class="o-layout--justify-center">
                <h2 class="c-lead c-lead--xxl">
                            Or scan your badge
                        </h2>
              </p>
            </div>
          </div>
        </article>
        <article class="o-section o-section--lg">
          <div class="o-layout o-layout--gutter-lg o-layout--align-center o-layout--row-reverse">
            <div class="o-layout__item u-1-of-2-bp3">
              <header class="c-title-icon">
                        <h2 class="c-lead c-lead--xxl">
                                        What can you do
                                    </h2>
              </header>
              <p class="c-lead c-lead--lg">
                Consumption counting, cooling drinks.
              </p>

            </div>

            <div class="o-layout__item u-1-of-2-bp3">
              <p id="Bieren"></p>
              {% for Bier in bier %}
              <script>
                var aantal = {{ Bier[2] }};
                var i = 0;
                var lijst = "";
                for (0; i < aantal; i++) {
                   lijst += ("<img src=\"../static/img/svg/biertje.svg\" alt=\"Beer bottle\" class=\"c-title-icon__icon\">");
                  }
                document.getElementById("Bieren").innerHTML= lijst;
              </script>
              {% endfor %}

              <p id="Colas"></p>
              {% for Cola in blik %}
              <script>
                var aantal = {{ Cola[2] }};
                var i = 0;
                var lijst = "";
                for (0; i < aantal; i++) {
                   lijst += ("<img src=\"../static/img/svg/blik.svg\" alt=\"Coca Cola bottle\" class=\"c-title-icon__icon\">");
                  }
                document.getElementById("Colas").innerHTML= lijst;
              </script>
              {% endfor %}
            </div>
          </div>
        </article>

      </div>
    </section>


    <footer class="o-row o-row--md">
      <div class="o-container">
        <div class="c-footer">
           <div class="c-footer__nav">
            <nav class="c-nav c-nav--meta">
              <ul class="o-list c-nav__list">
                <li class="c-nav__item"><a href="http://student.howest.be/nicolas.stragier/portfolio/" class="c-nav__link c-nav__link--meta">Portfolio</a></li>
              </ul>
            </nav>
          </div>
          <div class="c-footer__nav">
            <nav class="c-nav c-nav--meta">
              <ul class="o-list c-nav__list">
                <li class="c-nav__item"><a href="https://www.linkedin.com/in/nicolas-stragier-9abb66142" class="c-nav__link c-nav__link--meta">LinkedIn</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </footer>
  </div>




</body>

</html>